In [20]:
import pandas as pd

data = pd.DataFrame({"value":[1,2,3,4,5,6,7,8,9,10]}, index = [10,20,30,40,50,60,70,80,90,100])
data

     value
10       1
20       2
30       3
40       4
50       5
60       6
70       7
80       8
90       9
100     10

In [21]:
#create a truth statement that selects the value and index you want

data.value == 10

10     False
20     False
30     False
40     False
50     False
60     False
70     False
80     False
90     False
100     True
Name: value, dtype: bool

In [22]:
type(data.value == 10)

pandas.core.series.Series

In [23]:
data[data.value == 10]

     value
100     10

In [24]:
data[data.value == 10].index

Int64Index([100], dtype='int64')

In [25]:
data[data.value == 10].index.tolist()

[100]

In [26]:
data[data.value == 10].index.tolist()[0]

100